@font-face {
  font-family: 'icomoon';
  src: url('fonts/icomoon.woff2') format('woff2'),
       url('fonts/icomoon.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap; 
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-send-plane-fill:before {
  content: "\e900";
}
.icon-mail-send-line:before {
  content: "\e901";
}
.icon-map-pin-2-line:before {
  content: "\e902";
}
.icon-arrow-right-long-fill:before {
  content: "\e903";
}
.icon-eye-line:before {
  content: "\e904";
}
.icon-external-link-line:before {
  content: "\e905";
}
.icon-tools-line:before {
  content: "\e906";
}
.icon-flashlight-line:before {
  content: "\e907";
}
.icon-code-s-slash-line:before {
  content: "\e908";
}
.icon-magic-line:before {
  content: "\e909";
}
.icon-smartphone-line:before {
  content: "\e90a";
}
.icon-layout-masonry-line:before {
  content: "\e90b";
}
.icon-tiktok-fill:before {
  content: "\e90c";
}
.icon-linkedin-fill:before {
  content: "\e90d";
}
.icon-github-line:before {
  content: "\e90e";
}
.icon-facebook-fill:before {
  content: "\e90f";
}
.icon-arrow-right-up-line:before {
  content: "\e910";
}
.icon-phone-line:before {
  content: "\e911";
}
.icon-close-line:before {
  content: "\e912";
}
.icon-menu-line:before {
  content: "\e913";
}
.icon-user-voice-line:before {
  content: "\e914";
}
